<ion-app>
  <ion-menu side="start" content-id="menu-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle auto-hide="false">
          <ion-item [routerLink]="['/tabs/tab2']">
            Login
          </ion-item>
          
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="false">
          <ion-item [routerLink]="['/tabs/tab3']">
            Agenda
          </ion-item>
          
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="false">
          <ion-item [routerLink]="['/tabs/tab6']">
            Conselho do Profissional
          </ion-item>
          
        </ion-menu-toggle>
        <!-- Adicione mais itens de menu para outras abas, se necessário -->
      </ion-list>
    </ion-content>
  </ion-menu>
<ion-router-outlet id="menu-content"></ion-router-outlet>
</ion-app>
