<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-back-button defaultHref="/"></ion-back-button>
    <ion-title>
      Conselhos de Profissionais
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Conselhos dos Profissionais</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card-content>
    <p>{{ randomAdvice }}</p>
  </ion-card-content>

<ion-button (click)="fetchRandomAdvice()">Obter Conselho Aleatório</ion-button>
</ion-content>
